---
type Props = {
  width?: "prose" | "app";
};

const { width = "app" } = Astro.props;

const maxWidth = width === "prose" ? "max-w-[640px]" : "max-w-[1120px]";
---

<div class={`mx-auto ${maxWidth} px-6 md:px-8`}>
  <slot />
</div>
