---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
  </head>
  <body class="bg-[var(--bg)] text-[var(--fg-1)] font-sans antialiased flex flex-col min-h-screen">
    <Header />
    <main class="animate flex-1 py-16 md:py-20">
      <slot />
    </main>
    <Footer />
  </body>
</html>
